h1{
    color:rgb(0, 238, 255)
}

.red{
    color:rgb(76, 0, 255)
}

p{
    font-size: 80px;
    color:rgb(250, 1, 1);
    text-align: center;
    background-color: rgb(23, 151, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}