* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

div{
    width: 120px;
    height: 120px;
    display: block;
    background-color: yellow;
}

.caja1 {
    background-color: violet;
}

.caja2 {
    background-color: pink;
    position: relative;
    
}

.caja3 {
    background-color: blue;
}

.caja4 {
    background-color: green;
}

.caja5 {
    background-color: orangered;
}